<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>EDIT DATA USERS</h1>
  
    <form method="POST" action= <%- '/users/edit/'+_user.id %>  >
        username : <input type="text" name="username" id="" value= <%- _user.username %> > <br>
        age : <input type="text" name="age" id="" value= <%- _user.age %> > <br>
        email : <input type="text" name="email" id="" value= <%- _user.email %> > <br>
        Password : <input type="text" name='password' value= <%- _user.password %> ><br>
        Salt : <input type="text" name='salt' value= <%- _user.salt %> ><br>
        Role : <input type="text" name='role'value= <%- _user.role %>><br>
        <input type="submit" value="EDIT">
    </form>
    
</body>
</html>