<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>LIST GAMES</h1>
    <a href="/games/add">add</a>
    <form action="/games/filter" method="POST" class="form-group">
        <select name="genre" id="">
            
            <% genre.forEach(function(gen){ %>
                <option value= <%- gen.genre %>  > <%- gen.genre %> </option>
            <% }) %>

        </select>
        <input type="submit" value="filter">
        
        
    </form>
    <form action="/games">
        <input type="submit" value="all">
    </form>
    <form action="/auth/logout" method="POST">
                 <input type="submit" class="btn btn-primary" value="Logout" name= "logout" onclick="confirm('Are you user want to logout?')">
             </form>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Total_purchase</th>
                <th>action</th>
                <th>option</th>
            </tr>
        </thead>
        <tbody>
            <% games.forEach(function(game, idx){ %>
                <tr>
                    <td><%- idx + 1  %></td>
                    <td><%- game.title %></td>
                    <td><%- game.genre %></td>
                    <td><%- formatUang(game.price) %></td>
                    <td><%- game.total_purchase %></td>
                    <td><a href=<%- '/games/buy/'+ game.id %> >buy</a></td>
                    <td><a href= <%- '/games/edit/'+ game.id %> >  edit</a>||<a href=<%- '/games/delete/'+ game.id %> > delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>