<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>LIST USERS</h1>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Age</th>
                <th>Email</th>
                <th>action</th>
                <th>option</th>
            </tr>
        </thead>
        <tbody>
            <% _users.forEach(function(user, idx){ %>
                <tr>
                    <td><%- idx + 1  %></td>
                    <td><%- user.username %></td>
                    <td><%- user.age %></td>
                    <td><%- user.email %></td>
                    <td><a href="/users/add">add</a></td>
                    <td><a href= <%- '/users/edit/'+ user.id %> >  edit</a>
                            ||
                        <a href=<%- '/users/delete/'+ user.id %> > delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
   
    
</body>
</html>